body {
  background-color: antiquewhite;
  border: solid black;
  padding: 1%;
  margin: 1%;
}

h1,h2 {
  font-weight: bold;
  color: brown;
}

h3,h4 {
  color: darkred;
}

div#footer {
  font-weight: bold;
  background-color: bisque;
  border: solid sandybrown;
  padding: 0.5%;
  margin: 1%;
}