@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new client</h4>
<p>Clients will only be created if at least one stylist is currently registered.</p>
@using (Html.BeginForm())
{
  <p>Client Name:</p>
  @Html.TextBoxFor(model => model.ClientName)

  <p>Stylist:</p>
  @Html.DropDownList("StylistId")
  <input type="submit" value="Add new client" class="btn btn-default" />
}
<div id="footer">
  <p>@Html.ActionLink("Return to Stylists", "Index", "Stylists")</p>
</div>