@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Are you sure you wish to remove this client?</h2>

<p>Name: @Html.DisplayFor(model => model.ClientName)</p>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
<p>@Html.ActionLink("Return to Stylists", "Index", "Stylists")</p>